# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
.cache!/deep-drum-master/

!/css/

!/img/

!/doc/

!/web-audio-api-waveforms/

!/CodeSources/Ableton/

!/CodeSources/AbletonCopy/

!/node_modules/

!/js/

!/Tone/
!/CodeSources/
/.editorconfig
/CodeSources/img/.gitignore
/.htaccess
/404.html
/CodeSources/deep-drum-master/sounds/salamander/A0.mp3
/CodeSources/deep-drum-master/sounds/salamander/A0.ogg
/CodeSources/deep-drum-master/sounds/salamander/A1.mp3
/CodeSources/deep-drum-master/sounds/salamander/A1.ogg
/CodeSources/deep-drum-master/sounds/salamander/A2.mp3
/CodeSources/deep-drum-master/sounds/salamander/A2.ogg
/CodeSources/deep-drum-master/sounds/acoustic_guitar/A2A3.wav
/CodeSources/deep-drum-master/sounds/salamander/A3.mp3
/CodeSources/deep-drum-master/sounds/salamander/A3.ogg
/CodeSources/deep-drum-master/sounds/acoustic_guitar/A3.wav
/CodeSources/deep-drum-master/sounds/salamander/A4.mp3
/CodeSources/deep-drum-master/sounds/salamander/A4.ogg
/CodeSources/deep-drum-master/sounds/salamander/A5.mp3
/CodeSources/deep-drum-master/sounds/salamander/A5.ogg
/CodeSources/deep-drum-master/sounds/salamander/A6.mp3
/CodeSources/deep-drum-master/sounds/salamander/A6.ogg
/CodeSources/deep-drum-master/sounds/salamander/A7.mp3
/CodeSources/deep-drum-master/sounds/salamander/A7.ogg
/CodeSources/deep-drum-master/images/add_timeline.png
/.idea/airmusic.iml
/CodeSources/deep-drum-master/css/app.css
/CodeSources/deep-drum-master/css/app.css.map
/CodeSources/deep-drum-master/css/app.scss
/CodeSources/deep-drum-master/.sass-cache/8c41a3d901356b3f1ff43495a4d7476445008295/app.scssc
/CodeSources/deep-drum-master/images/apply.png
/CodeSources/deep-drum-master/js/arp_and_bass.js
/CodeSources/deep-drum-master/images/avengers.png
/.idea/aws.xml
/CodeSources/deep-drum-master/sounds/acoustic_guitar/B2.wav
/CodeSources/deep-drum-master/sounds/acoustic_guitar/B3.wav
/CodeSources/deep-drum-master/sounds/acoustic_guitar/B3B4.wav
/CodeSources/deep-drum-master/sounds/acoustic_guitar/B4.wav
/CodeSources/deep-drum-master/images/bass.png
/CodeSources/deep-drum-master/sounds/bass.wav
/CodeSources/Ableton/Samples/Bass1.ogg
/CodeSources/AbletonCopy/Samples/Bass1.ogg
/CodeSources/Ableton/Samples/Bass2.ogg
/CodeSources/AbletonCopy/Samples/Bass2.ogg
/CodeSources/Ableton/Samples/Bass3.ogg
/CodeSources/AbletonCopy/Samples/Bass3.ogg
/CodeSources/Ableton/Samples/Bass4.ogg
/CodeSources/AbletonCopy/Samples/Bass4.ogg
/CodeSources/deep-drum-master/images/bg.png
/browserconfig.xml
/CodeSources/deep-drum-master/sounds/acoustic_guitar/C#3C#4.wav
/CodeSources/deep-drum-master/sounds/salamander/C1.mp3
/CodeSources/deep-drum-master/sounds/salamander/C1.ogg
/CodeSources/deep-drum-master/sounds/salamander/C2.mp3
/CodeSources/deep-drum-master/sounds/salamander/C2.ogg
/CodeSources/deep-drum-master/sounds/salamander/C3.mp3
/CodeSources/deep-drum-master/sounds/salamander/C3.ogg
/CodeSources/deep-drum-master/sounds/salamander/C4.mp3
/CodeSources/deep-drum-master/sounds/salamander/C4.ogg
/CodeSources/deep-drum-master/sounds/salamander/C5.mp3
/CodeSources/deep-drum-master/sounds/salamander/C5.ogg
/CodeSources/deep-drum-master/sounds/salamander/C6.mp3
/CodeSources/deep-drum-master/sounds/salamander/C6.ogg
/CodeSources/deep-drum-master/sounds/salamander/C7.mp3
/CodeSources/deep-drum-master/sounds/salamander/C7.ogg
/CodeSources/deep-drum-master/sounds/salamander/C8.mp3
/CodeSources/deep-drum-master/sounds/salamander/C8.ogg
/CodeSources/Ableton/GetStared/chapters.svg
/CodeSources/AbletonCopy/GetStared/chapters.svg
/CodeSources/deep-drum-master/js/chord_finder.js
/CodeSources/Ableton/Samples/Chords1.ogg
/CodeSources/AbletonCopy/Samples/Chords1.ogg
/CodeSources/Ableton/Samples/Chords2.ogg
/CodeSources/AbletonCopy/Samples/Chords2.ogg
/CodeSources/Ableton/Samples/Chords3.ogg
/CodeSources/AbletonCopy/Samples/Chords3.ogg
/CodeSources/Ableton/Samples/Chords4.ogg
/CodeSources/AbletonCopy/Samples/Chords4.ogg
/CodeSources/deep-drum-master/sounds/drum-kits/analog/clap.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/dubstep/clap.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/electronic/clap.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/hiphop/clap.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/percussion/clap.mp3
/CodeSources/deep-drum-master/images/clap.png
/CodeSources/deep-drum-master/images/clear_timeline.png
/CodeSources/Ableton/GetStared/close.svg
/CodeSources/AbletonCopy/GetStared/close.svg
/CodeSources/deep-drum-master/sounds/acoustic_guitar/Cs3.wav
/CodeSources/deep-drum-master/sounds/acoustic_guitar/Cs4.wav
/CodeSources/doc/css.md
/CodeSources/deep-drum-master/sounds/acoustic_guitar/D3.wav
/CodeSources/deep-drum-master/sounds/acoustic_guitar/D5.wav
/CodeSources/deep-drum-master/assets/deepdrum.gif
/CodeSources/deep-drum-master/js/deepdrum.js
/CodeSources/deep-drum-master/images/download.png
/CodeSources/Ableton/Samples/Drums1.ogg
/CodeSources/AbletonCopy/Samples/Drums1.ogg
/CodeSources/Ableton/Samples/Drums2.ogg
/CodeSources/AbletonCopy/Samples/Drums2.ogg
/CodeSources/Ableton/Samples/Drums3.ogg
/CodeSources/AbletonCopy/Samples/Drums3.ogg
/CodeSources/Ableton/Samples/Drums4.ogg
/CodeSources/AbletonCopy/Samples/Drums4.ogg
/CodeSources/deep-drum-master/sounds/salamander/Ds1.mp3
/CodeSources/deep-drum-master/sounds/salamander/Ds1.ogg
/CodeSources/deep-drum-master/sounds/salamander/Ds2.mp3
/CodeSources/deep-drum-master/sounds/salamander/Ds2.ogg
/CodeSources/deep-drum-master/sounds/salamander/Ds3.mp3
/CodeSources/deep-drum-master/sounds/salamander/Ds3.ogg
/CodeSources/deep-drum-master/sounds/salamander/Ds4.mp3
/CodeSources/deep-drum-master/sounds/salamander/Ds4.ogg
/CodeSources/deep-drum-master/sounds/acoustic_guitar/Ds4.wav
/CodeSources/deep-drum-master/sounds/salamander/Ds5.mp3
/CodeSources/deep-drum-master/sounds/salamander/Ds5.ogg
/CodeSources/deep-drum-master/sounds/salamander/Ds6.mp3
/CodeSources/deep-drum-master/sounds/salamander/Ds6.ogg
/CodeSources/deep-drum-master/sounds/salamander/Ds7.mp3
/CodeSources/deep-drum-master/sounds/salamander/Ds7.ogg
/CodeSources/deep-drum-master/sounds/acoustic_guitar/E2.wav
/CodeSources/deep-drum-master/sounds/acoustic_guitar/E4.wav
/CodeSources/doc/extend.md
/CodeSources/deep-drum-master/sounds/acoustic_guitar/F2.wav
/CodeSources/deep-drum-master/sounds/acoustic_guitar/F2F3.wav
/CodeSources/doc/faq.md
/favicon.ico
/CodeSources/deep-drum-master/sounds/salamander/Fs1.mp3
/CodeSources/deep-drum-master/sounds/salamander/Fs1.ogg
/CodeSources/deep-drum-master/sounds/salamander/Fs2.mp3
/CodeSources/deep-drum-master/sounds/salamander/Fs2.ogg
/CodeSources/deep-drum-master/sounds/salamander/Fs3.mp3
/CodeSources/deep-drum-master/sounds/salamander/Fs3.ogg
/CodeSources/deep-drum-master/sounds/salamander/Fs4.mp3
/CodeSources/deep-drum-master/sounds/salamander/Fs4.ogg
/CodeSources/deep-drum-master/sounds/salamander/Fs5.mp3
/CodeSources/deep-drum-master/sounds/salamander/Fs5.ogg
/CodeSources/deep-drum-master/sounds/salamander/Fs6.mp3
/CodeSources/deep-drum-master/sounds/salamander/Fs6.ogg
/CodeSources/deep-drum-master/sounds/salamander/Fs7.mp3
/CodeSources/deep-drum-master/sounds/salamander/Fs7.ogg
/CodeSources/deep-drum-master/js/gpad.js
/CodeSources/deep-drum-master/sounds/guitar.mp3
/CodeSources/deep-drum-master/sounds/hey.mp3
/CodeSources/deep-drum-master/images/hey.png
/CodeSources/deep-drum-master/sounds/drum-kits/analog/hihat-closed.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/dubstep/hihat-closed.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/electronic/hihat-closed.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/hiphop/hihat-closed.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/percussion/hihat-closed.mp3
/CodeSources/deep-drum-master/images/hihat-closed.png
/CodeSources/deep-drum-master/sounds/drum-kits/analog/hihat-open.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/dubstep/hihat-open.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/electronic/hihat-open.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/hiphop/hihat-open.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/percussion/hihat-open.mp3
/CodeSources/deep-drum-master/images/hihat-open.png
/CodeSources/doc/html.md
/humans.txt
/icon.png
/CodeSources/Ableton/GetStared/imgix.min.js.descarga
/CodeSources/AbletonCopy/GetStared/imgix.min.js.descarga
/CodeSources/deep-drum-master/index.html
/CodeSources/web-audio-api-waveforms/src/index.html
/CodeSources/mediapipehands/distCopia/index.html
/index.html
/CodeSources/indexBowlerplate.html
/CodeSources/doc/js.md
/CodeSources/deep-drum-master/sounds/keys.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/analog/kick.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/dubstep/kick.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/electronic/kick.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/hiphop/kick.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/percussion/kick.mp3
/CodeSources/deep-drum-master/images/kick.png
/CodeSources/deep-drum-master/LICENSE
/CodeSources/web-audio-api-waveforms/LICENSE.txt
/LICENSE.txt
/CodeSources/deep-drum-master/images/magic.png
/CodeSources/Ableton/GetStared/main.css
/CodeSources/AbletonCopy/GetStared/main.css
/CodeSources/css/main.css
/CodeSources/js/main.js
/CodeSources/deep-drum-master/externals/css/materialize.css
/CodeSources/deep-drum-master/externals/js/materialize.js
/CodeSources/deep-drum-master/externals/css/materialize.min.css
/CodeSources/deep-drum-master/externals/js/materialize.min.js
/CodeSources/Ableton/Samples/Melodies1.ogg
/CodeSources/AbletonCopy/Samples/Melodies1.ogg
/CodeSources/Ableton/Samples/Melodies2.ogg
/CodeSources/AbletonCopy/Samples/Melodies2.ogg
/CodeSources/Ableton/Samples/Melodies3.ogg
/CodeSources/AbletonCopy/Samples/Melodies3.ogg
/CodeSources/Ableton/Samples/Melodies4.ogg
/CodeSources/AbletonCopy/Samples/Melodies4.ogg
/CodeSources/Ableton/GetStared/microevent.js.descarga
/CodeSources/AbletonCopy/GetStared/microevent.js.descarga
/CodeSources/doc/misc.md
/CodeSources/js/vendor/modernizr-3.11.2.min.js
/.idea/modules.xml
/CodeSources/deep-drum-master/js/multiple_tag.js
/CodeSources/deep-drum-master/js/nexus.js
/CodeSources/css/normalize.css
/CodeSources/Ableton/ownSketch.js
/CodeSources/AbletonCopy/ownSketch.js
/package.json
/package-lock.json
/CodeSources/Ableton/padSampler.js
/CodeSources/AbletonCopy/padSampler.js
/CodeSources/mediapipehands/distCopia/padSampler.js
/CodeSources/deep-drum-master/images/pause.png
/CodeSources/Ableton/Samples/pizzicatoTest.html
/CodeSources/AbletonCopy/Samples/pizzicatoTest.html
/CodeSources/deep-drum-master/images/play.png
/CodeSources/js/plugins.js
/CodeSources/Ableton/GetStared/polyfills.js.descarga
/CodeSources/AbletonCopy/GetStared/polyfills.js.descarga
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/CodeSources/deep-drum-master/sounds/salamander/README
/CodeSources/deep-drum-master/README.md
/CodeSources/web-audio-api-waveforms/README.md
/CodeSources/deep-drum-master/images/record-start.png
/CodeSources/deep-drum-master/images/record-stop.png
/CodeSources/deep-drum-master/images/regenerate.png
/CodeSources/deep-drum-master/js/reverse_midi_map.js
/CodeSources/deep-drum-master/sounds/drum-kits/analog/ride.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/electronic/ride.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/hiphop/ride.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/percussion/ride.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/dubstep/ride.wav
/robots.txt
/CodeSources/web-audio-api-waveforms/src/script.js
/js/script.js
/CodeSources/mediapipehands/distCopia/script.js
/CodeSources/deep-drum-master/images/settings.png
/CodeSources/Ableton/GetStared/SimpleSession.js.descarga
/CodeSources/AbletonCopy/GetStared/SimpleSession.js.descarga
/site.webmanifest
/CodeSources/Ableton/sketch.js
/CodeSources/AbletonCopy/sketch.js
/CodeSources/Ableton/sketchWithGraphics.js
/CodeSources/AbletonCopy/sketchWithGraphics.js
/CodeSources/deep-drum-master/sounds/drum-kits/analog/snare.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/dubstep/snare.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/electronic/snare.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/hiphop/snare.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/percussion/snare.mp3
/CodeSources/deep-drum-master/images/snare.png
/CodeSources/Ableton/started.html
/CodeSources/AbletonCopy/started.html
/CodeSources/deep-drum-master/images/stick.png
/CodeSources/deep-drum-master/images/stop.png
/css/style.css
/CodeSources/mediapipehands/distCopia/style.css
/CodeSources/web-audio-api-waveforms/src/style.scss
/CodeSources/deep-drum-master/images/synth.jpg
/CodeSources/deep-drum-master/images/synth.png
/CodeSources/Ableton/Samples/test.mp3
/CodeSources/AbletonCopy/Samples/test.mp3
/CodeSources/deep-drum-master/assets/thumbnail.png
/CodeSources/deep-drum-master/images/thumbnail.png
/tile.png
/tile-wide.png
/CodeSources/deep-drum-master/js/timeline.js
/CodeSources/doc/TOC.md
/CodeSources/deep-drum-master/sounds/drum-kits/analog/tom-high.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/dubstep/tom-high.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/electronic/tom-high.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/hiphop/tom-high.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/percussion/tom-high.mp3
/CodeSources/deep-drum-master/images/tom-high.png
/CodeSources/deep-drum-master/sounds/drum-kits/analog/tom-low.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/dubstep/tom-low.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/electronic/tom-low.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/hiphop/tom-low.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/percussion/tom-low.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/analog/tom-mid.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/dubstep/tom-mid.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/electronic/tom-mid.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/hiphop/tom-mid.mp3
/CodeSources/deep-drum-master/sounds/drum-kits/percussion/tom-mid.mp3
/CodeSources/deep-drum-master/js/tonal.js
/CodeSources/deep-drum-master/js/tone.js
/CodeSources/Tone/tone.js
/CodeSources/Ableton/GetStared/tone.min.js.descarga
/CodeSources/AbletonCopy/GetStared/tone.min.js.descarga
/CodeSources/deep-drum-master/js/update_controls.js
/CodeSources/doc/usage.md
/.idea/vcs.xml
/CodeSources/Ableton/GetStared/widgets.min.js.descarga
/CodeSources/AbletonCopy/GetStared/widgets.min.js.descarga
!/CodeSources/
